################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bitstamp/bin/Debug/net8.0
/Bitstamp/obj
/BitstampLogger/obj
/BitstampLogger/bin/Debug/net8.0
